<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Rapi-Repo
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="static/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #5e62ce;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #5e62ce;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  </style>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="static/assets/img/sidebar.png">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="#" class="simple-text logo-normal">
          RapiTickets
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/">
              <i class="material-icons">table_chart</i>
              <p>Összesítés</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/uj_jegy">
              <i class="material-icons">add_circle_outline</i>
              <p>Új jegy</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter2" onclick="osszesites();">
              <i class="material-icons">analytics</i>
              <p>Statisztika</p>
            </a>
          </li>
          <li class="nav-item " align="center" style="margin-top:100%;">
            <p style="font-size:15px;color:white;">Beléptetés</p>
            <label class="switch">
              <!--<p style="right:123%;font-size:15px;">Beléptetés</p>-->
              <input type="checkbox" id="beleptetes">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Összesítés</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Frissítés</a>
                  <a class="dropdown-item" href="javascript:void(0)">Kilépés</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Résztvevők</h4>
                  <p class="card-category">Résztvevők listája és kezelése</p>
                  <div align="right">
                  <label style="color:white">Rendezés</label>
                  <select style="width:50px" onchange="if (this.selectedIndex==0) sortID();if (this.selectedIndex==1) sortABC();">
                    <option><i class="fas fa-sort-numeric-down"></i>ID</option>
                    <option><i class="fas fa-sort-alpha-down"></i>ABC</option>
                  </select>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="data_table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Név
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Státusz
                        </th>
                        <th>
                          Típus
                        </th>
                        <th>
                          Jegy
                        </th>
                        <th>
                          Módosítás
                        </th>
                      </thead>
                      <tbody>
                      {% for row in rows %}
                        <tr id="data_table">
                          <td class="current_id" data-qr="{{row['qr_kod']}}" data-id='{{row["id"]}}' id="{{row['id']}}">{{row["id"]}}</td>
                          <td class="current_nev">{{row["nev"]}}</td>
                          <td class="current_email">{{row["email"]}}</td>
                          {% if row["statusz"] == 0 %}
                              <td>Kézbesítve</td>
                          {% else %}
                              <td>Felhasználva</td>
                          {% endif %}
                          <td hidden>{{row["qr_kod"]}}</td>
                          {% if row["jegy_tipus"] == 0 %}
                              <td>Online</td>
                          {% else %}
                              <td>Személyes</td>
                          {% endif %}
                          <td id="qr_value" hidden>{{row["qr_kod"]}}</td>
                          <td class="text-primary"><a style="cursor:pointer;" onclick="showQR({{row['id']}})">Megtekintés</a></td>
                          <td><button class="btn btn-primary modositas" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-edit"></i></button></td>
                        </tr>
                      {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Összesítés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div id="current_eur" style="font-size: 12px;"></div>
         <table class="table">
          <thead class=" text-primary">
            <th></th>
            <th>EUR (db)</th>
            <th>HUF (db)</th>
            <th>Összesen (HUF)</th>
          </thead>
          <tbody>
          <tr>
            <td>1. kör</td>
            <td id="eur_1"></td>
            <td id="huf_1"></td>
            <td id="ossz_1"></td>
          </tr>
          <tr>
            <td>2. kör</td>
            <td id="eur_2"></td>
            <td id="huf_2"></td>
            <td id="ossz_2"></td>
          </tr>
          <tr>
            <td>3. kör</td>
            <td id="eur_3"></td>
            <td id="huf_3"></td>
            <td id="ossz_3"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><strong>Összesen:</strong></td>
            <td id="osszes_huf" style="border: 1px solid black; color:black;"></td>
          </tr>
          </tbody>
         </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Résztvevő adatainak módosítása</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 id="span_msg"></h4>
          <form onsubmit="updateGuest()">
          <input id="update_id" type="hidden">
            <label>Név</label>
            <br>
          <input type="text" id="update_nev" required>
            <br><br>
            <label>Email-cím</label>
            <br>
            <input type="email" id="update_email"required>
            <br><br>
            <label>Jegy típus:</label>
            <br>
            <select id="uj_jegy_tipus" required>
              <option disabled>Válassz!</option>
              <option value="0">Online</option>
              <option value="1">Személyes</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Mentés és küldés</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script>
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function plsleep() {
      await sleep(6000);

      // Sleep in loop
      for (let i = 0; i < 5; i++) {
        if (i === 3)
          await sleep(6000);
        console.log(i);
      }
    }

    $(".modositas").click(function() {
    var $row = $(this).closest("tr");    // Find the row
    var $currid = $row.find(".current_id").text();
    var $currnev = $row.find(".current_nev").text();
    var $curremail = $row.find(".current_email").text();
    document.getElementById('update_id').value = $currid;
    document.getElementById('update_nev').placeholder = $currnev;
    document.getElementById('update_email').placeholder = $curremail;
    });
    function updateGuest() {
      event.preventDefault();
      var newId = document.getElementById('update_id').value;
      var newNev = document.getElementById('update_nev').value;
      var newEmail = document.getElementById('update_email').value;
      var jegy_tipus = document.getElementById('uj_jegy_tipus').value;
      var update_url = "/update/" + newId;
      var n_form_data = {'update_nev': newNev, 'update_email': newEmail, 'update_jegy_tipus': jegy_tipus};
      var n_data = JSON.stringify(n_form_data);
			$.ajax({
					url : update_url,
					type: 'POST',
					dataType : 'json',
					data : n_data,
					contentType: 'application/json;charset=UTF-8',
					cache: false,
					processData:false,
					success: function(){
						 /*console.log(data);*/
						 //document.getElementById('span_msg').innerHTML = "Módosítva!";
						 //plsleep();
                         alert('Módosítva!');
						 location.reload();
					},
					error: function(){
						 /*console.log("error");*/

						 //document.getElementById('span_msg').innerHTML = "Módosítás - Error";
						 //plsleep();
                      alert('error');
						 location.reload();
					}
					});
    }

    function showQR(id){
      get_url = "/show/" + id;
      $.ajax({
        url: get_url,
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res);
            //Do nothing :D
        }
      });
    }

    function sortID() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("data_table");
      switching = true;
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[0];
          y = rows[i + 1].getElementsByTagName("TD")[0];
          // Check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }

    function sortABC() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("data_table");
      switching = true;
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[2];
          y = rows[i + 1].getElementsByTagName("TD")[2];
          // Check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }

    //TODO:
    //get used qr values in list
    //which qr is in list -> UPDATE SET status=True WHERE id=id
    //where status=True -> Change the td's background (to green)
    function getUsedQR() {
      //Get already used tickets' qr values
      var get_url = "https://rapifeszt.hu/tickets/value";
      $.ajax({
      url: get_url,
      dataType: 'json',
      type: 'get',
      cache:false,
      success: function(data){
         /*console.log(data);*/
         var used_list = [];
         $.each(data, function(index, value){
             /*console.log(value);*/
             used_list.push(value.qr);
             var table_div = $('#data_table');
             table_div.find("td").each(function () {
                var qr_qr = $(this).data('qr');
                var qr_id = $(this).data('id');
                if (qr_qr == value.qr) {
                  qr_div = document.getElementById(qr_id);
                  qr_div.parentNode.classList.add("qr_node");
                }
                })
            var qr_node = document.getElementsByClassName('qr_node'); // get all elements
            for(var i = 0; i < qr_node.length; i++){
              qr_node[i].style.backgroundColor = 'rgba(107, 247, 188, 0.2)';
              qr_node[i].style.borderRadius = "25px";
            }
         });
         //alert(used_list);
      },
      error: function(req, status, err){
         /*console.log("error");*/
          alert(status, err);
      }
      });
    }

    //sleep(5000).then(() => {
    //  getUsedQR();
    //});


    //Beléptetés - Toggle event
    $('#beleptetes').on('click', function(){
      if ( $(this).is(':checked') ) {
          //alert("Toggle on");
          getUsedQR();
      }
      else {
          location.reload();
      }
    });

    function osszesites() {
      document.getElementById('eur_1').innerHTML = "";
      document.getElementById('huf_1').innerHTML = "";
      document.getElementById('eur_2').innerHTML = "";
      document.getElementById('huf_2').innerHTML = "";
      document.getElementById('eur_3').innerHTML = "";
      document.getElementById('huf_3').innerHTML = "";
      document.getElementById('current_eur').innerHTML = "";
      document.getElementById('ossz_1').innerHTML = "";
      document.getElementById('ossz_2').innerHTML = "";
      document.getElementById('ossz_3').innerHTML = "";
      document.getElementById('osszes_huf').innerHTML = "";
      $.ajax({
        url: "/osszesites",
        type: 'GET',
        dataType: 'json',
        cache: false,
        success: function(response) {
            var online_1 = response.online_1;
            var online_2 = response.online_2;
            var online_3 = response.online_3;
            var szemelyes_1 = response.szemelyes_1;
            var szemelyes_2 = response.szemelyes_2;
            var szemelyes_3 = response.szemelyes_3;
            document.getElementById('eur_1').innerHTML += online_1;
            document.getElementById('huf_1').innerHTML += szemelyes_1;
            document.getElementById('eur_2').innerHTML += online_2;
            document.getElementById('huf_2').innerHTML += szemelyes_2;
            document.getElementById('eur_3').innerHTML += online_3;
            document.getElementById('huf_3').innerHTML += szemelyes_3;
            var eur_price = response.eur;
            document.getElementById('current_eur').innerHTML += "EUR árfolyam: " + "<strong>" + eur_price + "</stong>" + "Ft";
            var ossz_1 = (online_1 * eur_price * 30) + (szemelyes_1 * 10000);
            var ossz_2 = (online_2 * eur_price * 35) + (szemelyes_2 * 12000);
            var ossz_3 = (online_3 * eur_price * 40) + (szemelyes_3 * 14000);
            document.getElementById('ossz_1').innerHTML += ossz_1;
            document.getElementById('ossz_2').innerHTML += ossz_2;
            document.getElementById('ossz_3').innerHTML += ossz_3;
            document.getElementById('osszes_huf').innerHTML += (ossz_1 + ossz_2 + ossz_3) + " Ft";
        }
      });
    }
  </script>
  <!--   Core JS Files   -->
  <script src="static/assets/js/core/jquery.min.js"></script>
  <script src="static/assets/js/core/popper.min.js"></script>
  <script src="static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="static/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/assets/js/material-dashboard.js?v=2.1.0"></script>

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    window.addEventListener("offline",
      ()=> alert("Hálózat nem elérhető!\nElőfordulhat, hogy a program egyes funkciói nem működnek megfelelően internet kapcsolat nélkül.")
    );
  </script>
</body>

</html>
