<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Rapi-Repo
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="static/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />

</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="static/assets/img/sidebar.png">

      <div class="logo"><a href="#" class="simple-text logo-normal">
        <strong>RapiTickets</strong>
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">
              <i class="material-icons">table_chart</i>
              <p>Összesítés</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="/uj_jegy">
              <i class="material-icons">add_circle_outline</i>
              <p>Új jegy</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter2" onclick="osszesites();">
              <i class="material-icons">analytics</i>
              <p>Statisztika</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Új jegy</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Frissítés</a>
                  <a class="dropdown-item" href="javascript:void(0)">Kilépés</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Új jegy generálása</h4>
                  <p class="card-category">Új qr jegy generálása a megadott adatok alapján</p>
                </div>
                <div class="card-body">
                  <br>
                  <form action = "{{ url_for('post_jegy') }}" method = "POST">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Név</label>
                          <input type="text" class="form-control" name="uj_nev" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="email" class="form-control" name="uj_email" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <select name="uj_jegy_tipus" required>
                            <option disabled>Jegy típus:</option>
                            <option value="0">Online</option>
                            <option value="1">Személyes</option>
                            <option value="2">Napijegy (O)</option>
                            <option value="3">Napijegy (Sz)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="qr_code_value" value="{{ new_qrcode }}">
                    <br>
                    <button type="submit" class="btn btn-primary pull-right">Jegy generálása</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Generált jegy</h4>
                  <p class="card-category">A megadott adatok alapján generált QR jegy</p>
                </div>
                <div class="card-body">
                  <div align="center">
                    <p id="new_qrcode" hidden>{{ new_qrcode }}</p>
                    <br>
                    <img class="qr_code img-thumbnail img-responsive">
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- Modal -->
   <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Statisztika</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div id="current_eur" style="font-size: 12px;"></div>
         <table class="table">
          <thead class=" text-primary">
            <th></th>
            <th>EUR (db)</th>
            <th>HUF (db)</th>
            <th>Összesen (HUF)</th>
          </thead>
          <tbody>
          <tr>
            <td>1. kör</td>
            <td id="eur_1"></td>
            <td id="huf_1"></td>
            <td id="ossz_1"></td>
          </tr>
          <tr>
            <td>2. kör</td>
            <td id="eur_2"></td>
            <td id="huf_2"></td>
            <td id="ossz_2"></td>
          </tr>
          <tr>
            <td>3. kör</td>
            <td id="eur_3"></td>
            <td id="huf_3"></td>
            <td id="ossz_3"></td>
          </tr>
          <tr>
            <td>Napijegy</td>
            <td id="napi_online"></td>
            <td id="napi_szemelyes"></td>
            <td id="napi_ossz"></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><strong>Összesen:</strong></td>
            <td id="osszes_huf" style="border: 1px solid black; color:black;"></td>
          </tr>
          </tbody>
         </table>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="static/assets/js/core/jquery.min.js"></script>
  <script src="static/assets/js/core/popper.min.js"></script>
  <script src="static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="static/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/assets/js/material-dashboard.js?v=2.1.0"></script>
  <!-- QR Generator -->
  <script>
    var new_qrcode = String(document.getElementById('new_qrcode').innerHTML);
    $(function() {
        $(".qr_code").attr("src", "https://chart.googleapis.com/chart?cht=qr&chl=" + new_qrcode + "&chs=160x160&chld=L|0");
    });
  </script>

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
    function osszesites() {
      document.getElementById('eur_1').innerHTML = "";
      document.getElementById('huf_1').innerHTML = "";
      document.getElementById('eur_2').innerHTML = "";
      document.getElementById('huf_2').innerHTML = "";
      document.getElementById('eur_3').innerHTML = "";
      document.getElementById('huf_3').innerHTML = "";
      document.getElementById('current_eur').innerHTML = "";
      document.getElementById('ossz_1').innerHTML = "";
      document.getElementById('ossz_2').innerHTML = "";
      document.getElementById('ossz_3').innerHTML = "";
      document.getElementById('osszes_huf').innerHTML = "";
      document.getElementById('napi_online').innerHTML = "";
      document.getElementById('napi_szemelyes').innerHTML = "";
      document.getElementById('napi_ossz').innerHTML = "";
      $.ajax({
        url: "/osszesites",
        type: 'GET',
        dataType: 'json',
        cache: false,
        success: function(response) {
            var online_1 = response.online_1;
            var online_2 = response.online_2;
            var online_3 = response.online_3;
            var szemelyes_1 = response.szemelyes_1;
            var szemelyes_2 = response.szemelyes_2;
            var szemelyes_3 = response.szemelyes_3;
            var napi_o = response.napi_online;
            var napi_sz = response.napi_szemelyes;
            document.getElementById('eur_1').innerHTML += online_1;
            document.getElementById('huf_1').innerHTML += szemelyes_1;
            document.getElementById('eur_2').innerHTML += online_2;
            document.getElementById('huf_2').innerHTML += szemelyes_2;
            document.getElementById('eur_3').innerHTML += online_3;
            document.getElementById('huf_3').innerHTML += szemelyes_3;
            var eur_price = response.eur;
            document.getElementById('current_eur').innerHTML += "EUR árfolyam: " + "<strong>" + eur_price + "</stong>" + "Ft";
            var ossz_1 = (online_1 * eur_price * 30) + (szemelyes_1 * 10000);
            var ossz_2 = (online_2 * eur_price * 35) + (szemelyes_2 * 12000);
            var ossz_3 = (online_3 * eur_price * 40) + (szemelyes_3 * 14000);
            document.getElementById('ossz_1').innerHTML += ossz_1;
            document.getElementById('ossz_2').innerHTML += ossz_2;
            document.getElementById('ossz_3').innerHTML += ossz_3;
            document.getElementById('napi_online').innerHTML = napi_o;
            document.getElementById('napi_szemelyes').innerHTML = napi_sz;
            var napi_osszes = (napi_o * eur_price * 15) + (napi_sz * 5000);
            document.getElementById('napi_ossz').innerHTML = napi_osszes;
            document.getElementById('osszes_huf').innerHTML += (ossz_1 + ossz_2 + ossz_3 + napi_osszes) + " Ft";

        }
      });
    }
  </script>
  <script>
    var ifConnected = window.navigator.onLine;
    if (ifConnected) {
      //Do nothing
    } else {
      alert('Nincs internet kapcsolat');
    }
  </script>
</body>

</html>
